name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:

  standard:

    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - runs-on: ubuntu-latest
            config: -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=1 -DBUILD_EXAMPLES=1
            conda: docs/examples/environment.yaml
            prop: tests & examples
          - runs-on: macos-latest
            config: -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=1 -DBUILD_EXAMPLES=0 -DBUILD_DOCS=1
            conda: environment.yaml
            prop: tests
          - runs-on: windows-latest
            config: -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=1 -DBUILD_EXAMPLES=0
            conda: environment.yaml
            prop: tests

    defaults:
      run:
        shell: bash -l {0}

    name: "${{ matrix.runs-on }} • x64 ${{ matrix.args }}"
    runs-on: ${{ matrix.runs-on }}

    steps:

    - name: Basic GitHub action setup
      uses: actions/checkout@v2

    - name: Set conda environment
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: ${{ matrix.conda }}
        environment-name: myenv

    - name: Install clang
      if: runner.os == 'Windows'
      run: micromamba install -c conda-forge clang_win-64 ninja

    - name: Set dummy version
      run: echo "SETUPTOOLS_SCM_PRETEND_VERSION=0.0" >> $GITHUB_ENV

    - name: Configure using CMake
      run: cmake -Bbuild ${{ matrix.config }}

    - name: Build C++ ${{ matrix.prop }}
      working-directory: build
      run: cmake --build .

    - name: Run C++ ${{ matrix.prop }}
      working-directory: build
      run: ctest --output-on-failure

    - name: Build and install Python module
      run: python setup.py install --build-type Release -vv

    - name: Run Python tests
      working-directory: tests/basic-python
      run: |
        python version.py
        python MeshQuad4.py

    - name: Build doxygen-docs (error on warning)
      if: runner.os == 'macOS'
      working-directory: build
      run: make docs

  py:

    strategy:

      fail-fast: false

      matrix:
        runs-on: [windows-latest]
        include:
          - runs-on: windows-latest
            conda: .ci_environment_py.yaml

    defaults:
      run:
        shell: bash -l {0}

    name: "${{ matrix.runs-on }} • x64 ${{ matrix.args }} • py"
    runs-on: ${{ matrix.runs-on }}

    steps:

    - name: Basic GitHub action setup
      uses: actions/checkout@v2

    - name: Set conda environment
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: ${{ matrix.conda }}
        environment-name: myenv

    - name: Build and install Python module
      run: python -m pip install . -vvv

    - name: Run Python tests
      working-directory: tests/basic-python
      run: |
        python version.py
        python MeshQuad4.py
